@font-face {
  font-family: IRANSansXFa;
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/iransansx-fa-regular.woff") format("woff"),
    url("../assets/fonts/iransansx-fa-regular.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansXFa;
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/iransansx-fa-bold.woff") format("woff"),
    url("../assets/fonts/iransansx-fa-bold.woff2") format("woff2");
}
