@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

:root {
  --family-sans: IRANSansXFa;
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}
@layer base {
  html {
    font-family: var(--family-sans), system-ui, sans-serif;
  }
}
body {
  direction: rtl;
  color: var(--foreground);
  background: var(--background);
}
